#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# terraform lock file
.terraform.lock.hcl

# terraform crash log
crash.log

# .tfvars files
*.tfvars

# ignore this file
!tfmodule-template.tf

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# eclint
.git/

# go tests
go.sum
go.mod
