#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore log file
iam_handler.log

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform lock file
.terraform.lock.hcl

# Cache created by pytest
tests/__pycache__/
